@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Times New Roman", "Times", "Georgia", serif;
  font-weight: 300;
}

.font-roboto-slab {
  font-family: "Roboto Slab", "Times New Roman", "Times", "Georgia", serif;
}

h1 {
  font-size: 50px;
}

body {
  font-family: "Raleway", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.gatsby-image-wrapper [data-main-image] {
  opacity: 1 !important;
  transition: none;
}

body, #___gatsby, #gatsby-focus-wrapper {
  min-height: 100vh;
}
.graphiql-container * {
  box-sizing: initial;
}

html {
  scroll-behavior: smooth;
}

.mdx-highlight p {
  margin: 0;
}

.mdx-highlight p + p {
  margin-top: 1.25em;
}

.ais-SearchBox-form {
  @apply shadow appearance-none border rounded w-full py-2 px-3 flex ;
}

.ais-SearchBox-input {
  @apply text-gray-700 leading-tight focus:outline-none flex-1;
}
.ais-SearchBox-submitIcon svg {
  height: 15px;
  width: 15px;
}
.ais-SearchBox-submitIcon svg path {
  fill: rgb(32 76 130);
}

.ais-SearchBox-reset {
  @apply hidden;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}